# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.tsbuildinfo
*.local

# tanstack-router-sitemap에서 dist 아래가 아닌, public 아래에 파일을 둠
public/sitemap.xml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.example
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

.wrangler
.tanstack
